<p style="color: green"><%= notice %></p>
<div class="text-[#1A0935] w-full min-h-screen flex flex-col justify-start items-center">
  <div class="bg-[#1A0935] h-12 w-full text-white flex flex-row justify-between items-center px-24 py-12">
    <img src="https://www.hiremaven.ai/wp-content/uploads/2025/02/logo-maven-ai.svg" alt="logo" class="w-32"/>
    <div>
      <%= link_to "Import Properties", new_property_path, class: "" %>
    </div>
  </div>

  <div class="w-full flex flex-col justify-center items-start gap-6 mb-8">
    <div class="text-5xl font-medium text-left w-full px-8 pt-12">Properties</div>
    <div class="w-full px-8 flex justify-center items-center">
      <div class="w-full h-[1px] bg-[#1A0935] mt-4 mb-2"></div>
    </div>
    <div id="properties" class="w-full grid grid-cols-1 md:grid-cols-4 gap-4 mt-4 px-8">
      <% @properties.each do |property| %>
        <div class="bg-[#1A0935] text-white p-8 rounded-lg">
          <%= render property %>
          <p class="mt-2 w-full flex justify-start items-start">
            <%= link_to "Show this property", property, class: "bg-white px-4 py-2 rounded-full text-[#1A0935]" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
   
</div>
<div class="w-full px-24 py-12 bg-[#1A0935] text-white/75 flex flex-col justify-start items-start">
    <img src="https://www.hiremaven.ai/wp-content/uploads/2025/02/logo-maven-ai.svg" alt="logo" class="w-40"/>
    <div class="w-full h-[1px] bg-white/20 mt-4 mb-2"></div>
    <p>©2025 MavenAI. All rights reserved.</p>
</div>
